*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: "";
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
:before,
:after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.right-5 {
  right: 1.25rem;
}
.top-3 {
  top: 0.75rem;
}
.-top-1\.5 {
  top: -0.375rem;
}
.-right-1\.5 {
  right: -0.375rem;
}
.-top-1 {
  top: -0.25rem;
}
.-right-1 {
  right: -0.25rem;
}
.right-0 {
  right: 0px;
}
.left-auto {
  left: auto;
}
.top-full {
  top: 100%;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.\!mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-32 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.\!mt-0 {
  margin-top: 0 !important;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-0 {
  margin-top: 0;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-2\.5 {
  margin-bottom: 0.625rem;
}
.mb-16 {
  margin-bottom: 4rem;
}
.\!mt-4 {
  margin-top: 1rem !important;
}
.mt-12 {
  margin-top: 3rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.\!mb-0 {
  margin-bottom: 0 !important;
}
.mr-4 {
  margin-right: 1rem;
}
.\!ml-auto {
  margin-left: auto !important;
}
.mt-8 {
  margin-top: 2rem;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-8 {
  height: 2rem;
}
.h-11 {
  height: 2.75rem;
}
.h-5 {
  height: 1.25rem;
}
.h-\[15rem\] {
  height: 15rem;
}
.w-full {
  width: 100%;
}
.w-16 {
  width: 4rem;
}
.w-8 {
  width: 2rem;
}
.w-11 {
  width: 2.75rem;
}
.w-5 {
  width: 1.25rem;
}
.min-w-\[22rem\] {
  min-width: 22rem;
}
.max-w-full {
  max-width: 100%;
}
.shrink-0 {
  flex-shrink: 0;
}
.flex-grow,
.grow {
  flex-grow: 1;
}
.basis-0 {
  flex-basis: 0px;
}
.cursor-text {
  cursor: text;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-wrap {
  flex-wrap: wrap;
}
.\!flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.gap-16 {
  gap: 4rem;
}
.gap-4 {
  gap: 1rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-y-auto {
  overflow-y: auto;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l {
  border-left-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-none {
  border-style: none;
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.border-b-gray-200 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-r-gray-200 {
  --tw-border-opacity: 1;
  border-right-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.bg-red-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-rose-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(251 113 133 / var(--tw-bg-opacity));
}
.p-16 {
  padding: 4rem;
}
.p-0\.5 {
  padding: 0.125rem;
}
.p-0 {
  padding: 0;
}
.p-6 {
  padding: 1.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}
.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pr-12 {
  padding-right: 3rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pb-3\.5 {
  padding-bottom: 0.875rem;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-3\.5 {
  padding-left: 0.875rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.\!pb-0 {
  padding-bottom: 0 !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.font-\[\'Pacifico\'\] {
  font-family: Pacifico;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}
.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-indigo-700 {
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.underline-offset-4 {
  text-underline-offset: 4px;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
:root {
  --udemy-light: #fff;
  --udemy-gray-100: rgb(243 244 246);
  --udemy-gray-200: rgb(229 231 235);
  --udemy-gray-300: rgb(209 213 219);
  --udemy-gray-400: rgb(156 163 175);
  --udemy-gray-500: rgb(107 114 128);
  --udemy-gray-600: rgb(75 85 99);
  --udemy-gray-700: rgb(55 65 81);
  --udemy-gray-800: rgb(31 41 55);
  --udemy-gray-900: rgb(17 24 39);
  --udemy-primary: rgb(239 68 68);
  --udemy-accent: rgb(67 56 202);
  --udemy-success: rgb(52 211 153);
  --udemy-info: rgb(96 165 250);
  --udemy-warning: rgb(251 146 60);
  --udemy-danger: rgb(236 72 153);
}
body {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  font-family: Rubik, sans-serif;
}
.secondary-menu,
.secondary-menu ul {
  display: flex;
  gap: 1rem;
}
.secondary-menu li a {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}
.secondary-menu li:not(:first-child) a {
  border-left-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  padding-left: 1rem;
}
.header-search-form {
  position: relative !important;
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
  margin-top: 0 !important;
  display: none !important;
  width: 100% !important;
  flex-wrap: wrap !important;
  align-items: stretch !important;
}
@media (min-width: 768px) {
  .header-search-form {
    display: flex !important;
  }
}
.header-search-form label,
.header-search-form button {
  display: none;
}
.header-search-form input {
  position: relative;
  display: block;
  flex: 1 1 auto;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  padding: 0.5rem 3rem 0.5rem 1rem;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.header-search-form input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.header-search-form:after {
  position: absolute;
  right: 1.25rem;
  top: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  content: "\f52a";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.primary-menu ul {
  display: flex;
  flex-direction: row;
}
.primary-menu ul li:first-child a {
  padding-left: 0;
}
.primary-menu ul a {
  padding: 1.25rem 1.25rem 0.875rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.post-author {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.post-author > *:first-child {
  margin-right: 0.5rem;
}
.post-author img {
  margin-right: 0.5rem;
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding: 0.125rem;
}
.post-comment-count:before {
  content: "\f24d";
  margin-right: 0.25rem;
  vertical-align: middle;
}
.post-excerpt a {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.sidebar-categories {
  margin-bottom: 2rem;
}
.sidebar-categories li {
  margin-bottom: 0.5rem;
}
.sidebar-categories li a {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.sidebar-tags {
  margin-bottom: 2rem;
}
.post-content-tags {
  margin-top: 2rem;
}
.sidebar-tags a,
.post-content-tags a {
  margin-bottom: 0.5rem !important;
  margin-right: 0.5rem !important;
  display: inline-block !important;
  white-space: nowrap !important;
  border-radius: 0.375rem !important;
  border-width: 1px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(229 231 235 / var(--tw-border-opacity)) !important;
  padding: 0.375rem 0.625rem !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 0.15s !important;
}
.sidebar-tags a:hover,
.post-content-tags a:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}
.sidebar-tags a:before,
.post-content-tags a:before {
  content: "\f40a";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.comment-date:before {
  content: "\f293";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.comments-section h3,
.comments-section .says,
.comments-section .comment-edit-link,
.comments-section .comment-reply-link,
.comments-section label {
  display: none !important;
}
.comments-section li.comment {
  display: flex;
  align-items: flex-start;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.comments-section .comment-body {
  flex-grow: 1;
}
.comments-section form {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.comments-section form input[type="submit"] {
  margin-top: 1rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  padding: 0.5rem 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.comments-section form textarea {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  padding: 1rem;
}
.shadow-404 {
  text-shadow: -0.0625rem 0 #fe696a, 0 0.0625rem #fe696a, 0.0625rem 0 #fe696a,
    0 -0.0625rem #fe696a;
}
@media only screen and (max-width: 768px) {
  .primary-menu ul {
    flex-direction: column;
  }
  .primary-menu li {
    margin-bottom: 0.625rem;
  }
  .primary-menu li {
    border-radius: 0.375rem;
  }
  .primary-menu li {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  }
  .primary-menu ul a {
    display: block;
  }
  .primary-menu ul a {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .primary-menu ul a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .primary-menu ul li:first-child a {
    padding-left: 1.25rem;
  }
  .collapse {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .cart-menu-item:hover .cart-dropdown {
    display: block;
  }
}
.wp-block-udemy-plus-search-form {
  margin-bottom: 4rem;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  padding: 2rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wp-block-udemy-plus-search-form h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: inherit;
}
.wp-block-udemy-plus-search-form form {
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.25rem 0.5rem;
}
@media (min-width: 640px) {
  .wp-block-udemy-plus-search-form form {
    display: flex;
  }
}
.wp-block-udemy-plus-search-form form input {
  flex-grow: 1;
  border-style: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.wp-block-udemy-plus-search-form .btn-wrapper {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.wp-block-udemy-plus-search-form
  .btn-wrapper
  > :not([hidden])
  ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.wp-block-udemy-plus-search-form .btn-wrapper {
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.wp-block-udemy-plus-search-form .btn-wrapper button {
  border-radius: 0.5rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.wp-block-udemy-plus-page-header {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 0 !important;
}
.wp-block-udemy-plus-page-header .inner-page-header {
  width: 100%;
}
@media (min-width: 640px) {
  .wp-block-udemy-plus-page-header .inner-page-header {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .wp-block-udemy-plus-page-header .inner-page-header {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .wp-block-udemy-plus-page-header .inner-page-header {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .wp-block-udemy-plus-page-header .inner-page-header {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .wp-block-udemy-plus-page-header .inner-page-header {
    max-width: 1536px;
  }
}
.wp-block-udemy-plus-page-header .inner-page-header {
  margin-left: auto;
  margin-right: auto;
}
.wp-block-udemy-plus-page-header h1 {
  padding: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
}
.wp-block-udemy-plus-header-tools {
  margin-top: 0 !important;
  display: flex;
}
.wp-block-udemy-plus-header-tools a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}
.wp-block-udemy-plus-header-tools button.mobile-collapse-btn {
  display: block;
  padding: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .wp-block-udemy-plus-header-tools button.mobile-collapse-btn {
    display: none;
  }
}
.wp-block-udemy-plus-header-tools .signin-link {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}
.wp-block-udemy-plus-header-tools .signin-icon {
  position: relative;
  height: 2.75rem;
  width: 2.75rem;
  text-align: center;
  line-height: 2.5rem;
}
.wp-block-udemy-plus-header-tools .signin-icon .bi {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.wp-block-udemy-plus-header-tools .signin-text {
  display: none;
  white-space: nowrap;
  padding-left: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media (min-width: 1024px) {
  .wp-block-udemy-plus-header-tools .signin-text {
    display: block;
  }
}
.wp-block-udemy-plus-header-tools .signin-text small {
  display: block;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.wp-block-udemy-plus-header-tools .cart-menu-item {
  position: relative;
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-menu-icon {
  position: relative;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  text-align: center;
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-menu-icon span {
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(251 113 133 / var(--tw-bg-opacity));
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-menu-icon .bi {
  font-size: 1.25rem;
  line-height: 2.5rem;
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-text {
  display: none;
  white-space: nowrap;
  padding-left: 0.875rem;
}
@media (min-width: 1024px) {
  .wp-block-udemy-plus-header-tools .cart-menu-item .cart-text {
    display: block;
  }
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-text small {
  display: block;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-dropdown {
  position: absolute;
  right: 0px;
  left: auto;
  top: 100%;
  display: none;
  min-width: 22rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-items {
  height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 1rem;
}
.wp-block-udemy-plus-header-tools .cart-menu-item .single-cart-item {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-bottom: 0.5rem;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .single-cart-item
  .cart-item-image {
  flex-shrink: 0;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .single-cart-item
  .cart-item-summary {
  padding-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .single-cart-item
  .cart-item-summary
  a {
  margin-bottom: 0.25rem;
  display: block;
  font-weight: 500;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .single-cart-item
  .cart-item-summary
  .cart-item-price {
  margin-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .single-cart-item
  .cart-item-summary
  .cart-item-quantity {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-subtotal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .cart-subtotal
  .cart-subtotal-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .cart-subtotal
  .cart-subtotal-gray {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .cart-subtotal
  .cart-subtotal-indigo {
  margin-left: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .cart-subtotal
  .cart-subtotal-view-cart {
  border-radius: 0.125rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .cart-subtotal
  .cart-subtotal-view-cart:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.wp-block-udemy-plus-header-tools .cart-menu-item .cart-subtotal-checkout-btn {
  display: block;
  width: 100%;
  border-radius: 0.125rem;
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.wp-block-udemy-plus-header-tools
  .cart-menu-item
  .cart-subtotal-checkout-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.hover\:bg-red-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
.focus\:border-red-500:focus {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
}
.focus\:shadow:focus {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 640px) {
  .sm\:flex {
    display: flex;
  }
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
}
.current_page_parent>a,.current-menu-item>a{
    color: rgb(220, 28, 28);
    padding:1px;
    font-weight: 500;
    border-bottom: 1px solid red;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.card-1 {
  background-color: #fff;
  max-width: 800px;
  box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #9E9E9E;
  border-radius: 3px;
  display: grid;
  grid-template-column: repeat(5, 1fr);
}
.card-1 .img-container-1 {
  max-width: 100%;
  min-height: 100%;
  width: 230px;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-content-1 {
  grid-column: 3 / 5;
  padding: 10px 30px;
  border-left: 1px solid #ccc;
  max-height: 500px;
}


.card-content-1 .author {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  margin-top: 25px;
  padding: 25px 0 10px 0;
  color: #555;
}

@media only screen and (max-width:600px) {
  .card-1 {
    display: block;
  }
  .card-1 .img-container-1 {
    height: auto;
    width: 100%;
  }
  .card-content-1 {
    border: 0;
    border-top: 1px solid #ccc;
  }
}

.single-page{
  display: grid;
  grid-template-rows: auto auto auto auto;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
}
.single-image{
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comment-form{
  padding: 20px;
}
.comment-form label{
  display: block;
}

.comment-form textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 80px;
}
.comment-form input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nav>li{
  margin: 0px 30px;
  position:relative
}

.sub-menu{
  position: absolute;
  top:100%;
  opacity: 0;
  visibility: hidden;
  width: 120px;
  transition: 2s;
  color: darkblue;
}
.sub-menu li{
  padding: 2px;
  padding-top: 10px;
}

.nav>li:hover .sub-menu{
opacity: 1;
visibility: visible;
}

/* 
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
  max-height: 264px;
  max-width: fit-content;
}

.container {
  padding: 2px 16px;
} */